* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: #fff;
  color: #111;
  overflow-x: hidden;
}
